*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #cfd4be;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.cabecalho-menu{
    gap: 20px;
    color: #747373;
    font-size: 20px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display: flex;
    align-items: center;
}

.icone-voltar, a{
    cursor: pointer;
}

.icone-voltar{
    cursor: pointer;
    padding: 5px;
    background-color: #d5d5d5;
    width: 40px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid rgb(130, 130, 130);
}

.conteudo-principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80vw;
}

.conteudo-esquerda{
    background-color: #ebf0d8;
    height: 88%;
    width: 60%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid rgb(192, 191, 191);
}

.caixa-1, .caixa-2, .caixa-3{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: flex-end;
    gap: 25px;
    margin-left: 5%;
}

.caixa-texto{
    display: flex;
    flex-direction: column;

}

h2, .titulo-producao{
    text-align: center;
}

h2{
    font-size: 32px;
    font-weight: 750;
    font-family: Arial, Helvetica, sans-serif;
    color: #525252;
}

p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #747373;
}

.caixa-direita{
    background-color: #ebf0d8;
}

img{
    height: 100px;
    border-radius: 15px;
}

.conteudo-direita{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho-direita{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.titulo-funcionario{
    margin-top: 15px;
    font-size: 25px;
    color: #525252;
    font-weight: 750;
    font-family: Arial, Helvetica, sans-serif;
}

.icone-funcionario{
    height: 80px;
    border-radius: 100%;
    background-color: white;
}

.caixa-direita{
    height: 55vh;
    width: 25vw;
    padding: 25px;
    text-align: start;
    border-radius: 15px;
    border: 1px solid #b9b9b9;
}

.titulo-producao{
    font-weight: 750;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #525252;
}

.conteudo-bd{
    background-color: #cfd4be;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
}

.conteudo-saldo{
    background-color: #cfd4be;
    text-align: center;
    border-radius: 5px;
    font-size: 17px;
    color: #525252;
}

button{
    height: 55px;
    width: 50%;
    margin-top: 15px;
}